.container{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 40px;
}
.inputText {
    width: 400px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    }
       
    
    .label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    }
    
    .inputSubmit {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    }
    
    .inputSubmit:hover {
    background-color: #45a049;
    }
    
    .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    }
    
    .col25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    }
    
    .col75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    }
    
    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    .lis{
        list-style: none;
    }

